In [ ]:
from bs4 import BeautifulSoup

In [ ]:
import requests

In [ ]:
url ='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup (page.text , 'html')

In [ ]:
print (soup)

In [ ]:
soup.find_all('table')

In [ ]:
soup.find_all('table')[1]

In [ ]:
soup.find('table' , class_='wikitable sortable')

In [ ]:
table = soup.find_all('table') [1]

In [ ]:
print(table)

In [ ]:
soup.find_all('th')

In [ ]:
world_titles = table.find_all('th')

In [ ]:
world_titles

In [ ]:
world_table_titles = [title.text for title in world_titles]

In [ ]:
print(world_table_titles)

In [ ]:
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(columns = world_table_titles)

df

In [ ]:
column_data = table.find_all('tr')

In [ ]:
for row in column_data [1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data

In [106]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [ ]:
df.to_csv(r'/Users/Prudhvi/Downloads/revenue.csv', index = False)